<div ng-include src="'header/header.html'"></div>
<div  class="col-md-12" ng-controller="ListCandidatesCtrl">

<div class="cand">
<h2>Candidates</h2>
<div class="advanced-search">
<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
       <span class="input-group-btn plus-advance">
        <button class="btn btn-default" ng-click="displayForm = !displayForm" type="button">+</button>
      </span>
    </div><!-- /input-group -->
  </div>

</div>

<form name="search-form" class="form-inline" ng-show="displayForm">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="name" class= "col-sm-4">Name</label>
            <input type="text" class="form-control col-sm-8" ng-model="name" id="name">
        </div>
        <div class="form-group col-sm-6">
            <label for="location" class="col-sm-4">Location</label>
            <input type="text" class="form-control col-sm-8" ng-model="" id="location">
        </div>
    </div>
        <div class="row">
        <div class="form-group col-sm-6"> 
                <label for="position" class="col-sm-4">Position</label>
                <selectize class="col-sm-8" id="position" config="positionConfig" ng-model="positions" style="width:220px;" placeholder="Select a position..."></selectize>

            </div>
         <div class="form-group col-sm-6"> 
                <label for="another-category" class="col-sm-4">Another Category</label>
                <selectize class="col-sm-8" id="another-category" config="another_categoryConfig" ng-model="anotherCategory" style="width:220px;" placeholder="Select a category..."></selectize>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 text-center">
              
                    <button class="btn btn-primary">APPLY</button>
            </div>
            </div>
            
        </div>
   
</form>
</div>
<table class="table table-striped table-bordered seeker-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Current Status</th>
        <th>Joined Date</th>
        <th>Check</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="seeker in jobSeekers | filter:searchSeeker">
        <td>{{seeker.name}}</td>
        <td>{{seeker.currentStatus}}</td>
        <td>{{seeker.joinedDate}}</td>
        <td><input type="checkbox" ng-check="seeker.id"></td>
        
        </tr>
     </tbody>
</table>
    
</div>
</div>