<div ng-include src="'header/header.html'"></div>
<div class="col-md-12" ng-controller="AddCandidateJobsCtrl">

<div ng-include src="'modules/candidates/partial/add-candidate/add-candidate-menu/add-candidate-menu.html'"></div>

<section class="add-candidate-jobs">
<h2>Jobs Applied</h2>

<table class="table table-bordered table-striped">
	<thead>
		<th>Job Title</th>
		<th>Date</th>
		<th>Agent</th>
		<th>Application Status</th>
		<th>Job Status</th>
	</thead>
	<tbody></tbody>
</table>

<h2>Potential Jobs</h2>

<table class="table table-bordered table-striped">
	<thead>
		<th>Job Title</th>
		<th>Open Date</th>
		<th>Closed Date</th>
		<th>Job Status</th>
		<th>Action</th>
	</thead>
	<tbody></tbody>
</table>

</section>
</div>
