<div class="col-md-12" ng-controller="AuthCtrl">
<section class="login-page">
<h3>ASEREE RECRUITING SYSTEM</h3>
<form name ="userForm" ng-submit="login()" novalidate>
  <div class="form-group" class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
    <label class="required-field"  for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="Enter email" ng-required="true">
    <div class="errors" 
    ng-show="userForm.email.$dirty && userForm.email.$invalid">
      <small class="error" ng-show="userForm.email.$error.required">Please enter your email.</small>
     <small class="error"
       ng-show="userForm.email.$invalid && !userForm.email.$pristine">Please enter a valid email.</small>
  </div>
  </div>
  <div class="form-group" class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
    <label class="required-field"  for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="10" placeholder="Password" ng-required="true"/> 
    <div class="errors" 
    ng-show="userForm.password.$dirty && userForm.password.$invalid">
      <small class="error"ng-show="userForm.password.$error.required">Please input a password</small>
      <small class="error"ng-show="userForm.password.$error.minlength">Please enter a min length of 5</small>
      <small class="error"ng-show="userForm.password.$error.maxlength">Please enter a max length of 10</small>
    </div>
  </div>
  </div>
  <div class="form-group text-center">
  	<a ng-href="#/list-candidates" type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</a>
  </div>
</form>
	<small><a href="">Forgot your password?</a></small>
</section>

</div>
