<div ng-include src="'header/header.html'"></div>
<div class="col-md-12" ng-controller="AddCandidateCtrl">
<section class="seeker-section">
  <!--Basic PROFILE -->
   <div class="basic_profile">
    <ul class="nav nav-tabs nav-justified">
        <li ng-click="profileTab()" class="{{active1}} "><a ui-sref="#/add-candidate">PROFILE</a>
        </li>
        <li ng-click="passwordTab()" class="{{active2}}"><a ui-sref="#/password">PASSWORD</a>
        </li>
        <li ng-click="jobsTab()" class="{{active3}}"><a ui-sref="#/jobs">JOBS</a>
        </li>
    </ul>
    <form name="profileForm" class="form-inline" ng-submit="submitPro()"
    novalidate>

    <div class="full-form">
    <div class="profile-form">
    <div class="row">
        <div class="row">
            <div class="form-group col-sm-6" show-errors='{showSuccess: true}'>
                <label for="fname" class="col-sm-4 required-field">First Name:</label>
                <input type="text" class="form-control col-sm-8" id="fname" 
                ng-model="basicData.fname" name="fname" placeholder="First Name" ng-required="true">
                <p class="help-block col-sm-8 col-sm-offset-4" ng-if="profileForm.fname.$error.required"><small>First Name is required</small></p>
            </div>
            <div class="form-group col-sm-6" show-errors='{showSuccess: true}'>
                <label for="lname" class="col-sm-4 required-field">Last Name:</label>
                <input type="text" class="form-control col-sm-8" id="lname" name="lname" ng-model="basicData.lname" placeholder="Last Name" ng-required="true">
                <p class="help-block col-sm-8 col-sm-offset-4" ng-if="profileForm.lname.$error.required"><small>Last Name is required</small></p>
            </div>
        </div>
        <div class="row"> 
            <div class="form-group col-sm-6" show-errors='{showSuccess: true}'>
                <label for="email" class="col-sm-4 required-field">Email:</label>
                <input type="email" class="form-control col-sm-8" name="email" id="email" ng-model="basicData.email" placeholder="Email" ng-required="true">
                <p class="help-block col-sm-8 col-sm-offset-4" ng-if="profileForm.email.$error.required"><small>Email is required.</small></p>
                 <p class="help-block col-sm-8 col-sm-offset-4" ng-if="profileForm.email.$error.email"><small>Enter a valid email.</small></p>        
            </div>
            <div class="form-group col-sm-6">
                <label for="linkedin" class="col-sm-4">LinkedIn:</label>
                <input type="text" class="form-control col-sm-8" id="linkedin" name="linkedin" ng-model="basicData.linkedIn" placeholder="LinkedIn">             
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="phone1" class="col-sm-4">Primary phone:</label>
                <input type="phone" class="form-control col-sm-8" id="phone1" name="phone1" ng-model="basicData.phone1" placeholder="Primary Phone">
            </div>
            <div class="form-group col-sm-6">
                <label for="phone2" class="col-sm-4">Secondary phone:</label>
                <input type="phone" class="form-control col-sm-8" id="phone2" name="phone2"ng-model="basicData.phone2" placeholder="Secondary phone">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4">Gender: </label>
                <span class="col-sm-8">
                    <input type="radio" name="gender" ng-model="basicData.gender"  value="male" push-select ="!basicData.gender">Male
                    <input type="radio" name="gender" ng-model="basicData.gender" value="female" push-select="!basicData.gender">Female
                </span>
        </div>
            <div class="form-group col-sm-6" show-errors='{showSuccess: true}'>
                <label for="bdate" class="col-sm-4 required-field">Date of Birth:</label>          
                 <input type="text" pick-a-date="date" class="form-control col-sm-8" name="dob" ng-model="basicData.dob" pick-a-date-options="{ format: 'yyyy-mm-dd' }" ng-required="true"  placeholder="Date of birth"/>    
                <p class="help-block col-sm-8 col-sm-offset-4" ng-if="profileForm.dob.$error.required" ><small class="pull-left">Date of birth is required.</small></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="address1" class="col-sm-4">Primary Address:</label>
                <input type="address" class="form-control col-sm-8" name="address1" ng-model="basicData.address1" id="address1" placeholder="Address">
            </div>
            <div class="form-group col-sm-6">
                <label for="address2" class="col-sm-4">Secondary Address:</label>
                <input type="address" class="form-control col-sm-8" id="address2" name="address2" ng-model="basicData.address2" placeholder="Address 2" >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="city" class="col-sm-4">City:</label>
                <input type="text" class="form-control col-sm-8" id="city" name="city" ng-model="basicData.city" placeholder="City" >
            </div>
            <div class="form-group col-sm-6">
                <label for="state" class="col-sm-4">State:</label>
                <input type="text" class="form-control col-sm-8" id="state" name="state" ng-model="basicData.state" placeholder="State" >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"> 
                <label for="country" class="col-sm-4">Country:</label>
                <selectize placeholder='Select a country...' class="col-sm-8" id="country" config="countryConfig" ng-model="country" style="width:220px;"></selectize>
            </div>
            <div class="form-group col-sm-6">
                <label for="postal" class="col-sm-4">Postal Code:</label>
                <input type="text" class="form-control col-sm-8" id="postal" name="postal" ng-model="basicData.postal" placeholder="Postal Code">
            </div>
        </div>
    </div>
    </div>

 <!--End BASIC PROFILE -->

<!--EDUCATION-->

<div class="education">
    <div class="row pro-bar">
        <p class="pro-bar-title col-sm-6">EDUCATION</p>
        <p class="pull-right col-sm-6 text-right" style="font-style: italic">Enter Higest Level of Education</p>
    </div>
    <div class="row">
        <div class="form-group col-sm-6" show-errors='{showSuccess: true}'>
            <label for="education" class="col-sm-4 required-field">Highest Level:</label>
            <selectize placeholder='Select an education level...' id="education" name="education" config="educationConfig" ng ng-model="education" class="col-sm-8" style="width:220px;" ng-required="true"></selectize>
            <p class="help-block col-sm-8 col-sm-offset-4" ng-if="profileForm.education.$error.required"><small>Highest Level is required.</small></p>
        </div>

        <div class="form-group col-sm-6">
            <label for="institution" class="col-sm-4">Institution Name:</label>
            <input type="text" class="form-control col-sm-8" id="institution" name="institution" ng-model="basicData.institution" placeholder="Institution">
        </div>
</div>
 <!--End Education -->
 
<!-- EMPLOYMENT HISTORY -->

<div ng-form name="historyForm" class="emp-history">
    <div class="row pro-bar">
        <p class="pro-bar-title col-sm-6">EMPLOYMENT HISTORY</p>
        <p class="col-sm-6 text-right" style="font-style: italic">List all jobs held previously</p>
    </div>
   <section class="emp-history-sec">
    <div class="row">
        <div class="form-group col-sm-6" >
                <label for="job-title" class="col-sm-4 required-field">Job Title:</label>
                <input type="text" class="form-control col-sm-8" id="job-title" name="jobTitle" ng-model="empHistoryData.jobTitle" placeholder="Job Title">
               <p class="help-block col-sm-8 col-sm-offset-4" ng-show="jobRequired"><small>Job Title is required</small></p>
        </div>
        <div class="form-group col-sm-6" >
        <label for="company" class="col-sm-4 required-field">Company:</label>
            <input type="text" class="form-control col-sm-8" id="company" name="company" placeholder="Company" ng-model="empHistoryData.company">
           <p class="help-block col-sm-8 col-sm-offset-4" ng-show="companyRequired"><small>Company name is required</small></p>
             
        </div>
    </div>
    <div class="row">
          <div class="form-group col-sm-6">
            <label for="location" class="col-sm-4">Location:</label>
            <input type="text" class="form-control col-sm-8" id="location" placeholder="Location" name="companyLocation" ng-model="empHistoryData.companyLocation">
        </div>
        <div class="form-group col-sm-6">
            <label for="contact" class="col-sm-4">Contact:</label>
            <input type="text" class="form-control col-sm-8" id="contact" placeholder="Contact" ng-model="empHistoryData.companyContact">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6" >
                 <label class="col-sm-4 required-field">Start Date:</label>  
                <input type="text" pick-a-date="date" class="form-control col-sm-8" name="prevStartDate" ng-model="empHistoryData.prevStartDate" pick-a-date-options="{ format: 'yyyy-mm-dd' }" placeholder="Start Date"/>
                <p class="help-block col-sm-8 col-sm-offset-4" ng-show="startRequired"><small class="pull-left">Start date is required</small></p>        
        </div>

        <div class="form-group col-sm-6" >
                <label class="col-sm-4 required-field">End Date:</label> 
                <input type="text" pick-a-date="date" class="form-control col-sm-8" name="prevEndDate"  ng-model="empHistoryData.prevEndDate"  pick-a-date-options="{ format: 'yyyy-mm-dd' }" placeholder="End Date"/>
                <p class="help-block col-sm-8 col-sm-offset-4" ng-show="endRequired"><small class="pull-left">End date is required</small></p>        
        </div>
    </div>
    <div class="row">
        
         <div class="col-sm-2">
            <label class="col-sm-4" for="reason">Reason for Leaving: </label>
        </div> 
        <div class="col-sm-8">
            <textarea id="reason" name="reasonLeaving" data-ng-model="empHistoryData.reasonLeaving" data-ck-editor></textarea>
        </div>
      
    </div>
     <div class="row text-center">
          <a type="button" class="btn btn-primary" ng-href="" ng-click="addHistory()">ADD</a>
      </div>
    </section>
    <div class="row">
        <div class="table-responsive">
         <table class="table table-striped table-bordered">
            <thead>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Date</th>
                    <th></th>             
            </thead>
            <tbody>
                 <tr ng-repeat="item in empHistory track by $index">
                 <td>{{item.jobTitle}}</td>
                  <td>{{item.company}}</td>
                <td>{{item.prevStartDate |  date:"MMM yyyy"}} - {{item.prevEndDate | date:"MMM yyyy"}}</td>
                <td><a ng-href="#/add-candidate" ng-click="editHistory($index)">EDIT</a> | 
                <a ng-href="#/add-candidate" ng-click="removeHistory($index)">DELETE</a></td>
                </tr>
            </tbody>
        </table> 
       </div> 
</div>
</div>

   <!-- BEGIN POSITION OF INTEREST -->

<div class="position-interest">
    <div class="row pro-bar">
        <p class="pro-bar-title col-sm-6">POSITION OF INTEREST</p>
        <p class="pull-right col-sm-6 text-right" style="font-style: italic">Enter up to 3 positions</p>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
        <label for="positions" class="col-sm-4">Positions</label>
         <selectize placeholder= 'Select or enter upto 3 positions...' theme="selectize" class="col-sm-8" id="positions" config="positionConfig" ng-model="positions"></selectize>
        </div>
    </div>
    <div class="row">
      <div class="table-responsive">
          <table class="table table-bordered">
                 <thead>
                    <th class="col-sm-8">Positions</th>
                    <th class="col-sm-4">Delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="pos in positions track by $index">
                        <td>{{pos}}</td>
                        <td><a href="" ng-click="editPos($index)">EDIT</a> | <a href="" ng-click="deletePos($index)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
    <div class="row">
           <div class="form-group col-sm-6">
                <label for="available-date" class="col-sm-4">Available Date:</label>
                <input type="text" pick-a-date="date" class="form-control col-sm-8" name="availableDate" date-time ng-model="basicData.availableDate" pick-a-date-options="{ format: 'yyyy-mm-dd' }"  placeholder="Date available"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="expected-salary" class="col-sm-4">Expected Salary:</label>
                <input type="text" class="form-control col-sm-8" id="expected-salary" ng-model="basicData.salary" placeholder="Expected Salary">
            </div>
    </div>
</div>

<!--Skills -->

<div class="skills">
    <div class="row pro-bar">
        <p class="pro-bar-title col-sm-6">SKILLS</p>
        <p class="col-sm-6 text-right" style="font-style: italic">Enter up to 5 skills</p>
    </div>
    <div class="row">
    <div class="form-group col-sm-6">
        <label for="skills" class="col-sm-4">Skills</label>
        <selectize placeholder= 'Select or enter upto 5 skills...' theme="selectize" class="col-sm-8" id="skills" config="skillConfig" ng-model="skills"></selectize>
    </div>      
    </div>        
    <div class="row">
        <div class="table-responsive">
         <table class="table table-striped table-bordered table-responsive">
            <thead>
                <th class="col-sm-8">Skill</th>
                <th class="col-sm-4"></th>
            </thead>
            <tbody>
                <tr ng-repeat="skill in skills">
                <td>{{skill}}</td>
                <td><a ng-href="#/seeker-profile" ng-click="editSkill($index)">EDIT</a> | <a ng-href="" ng-click="deleteSkills($index)">DELETE</a></td>
                </tr>
            </tbody>
         </table>
        </div> 
    </div>   
</div>
<!--End of skills -->
<div class="other">
    <div class="row pro-bar">
        <p class="pro-bar-title col-sm-6">SUPPORTING DOCUMENTS</p>
        <p class="col-sm-6 text-right" style="font-style: italic">Personal</p>
    </div>
   <div class="row">
     <div class="form-group col-sm-6">
        <label for="resume" class="col-sm-4">Resume:</label>
        <div class="col-sm-8">
            <div><input type="file" name="resume" id="resume" ng-model="supportingData.resume" value="UPLOAD"></div>
        </div>     
    </div>   
  </div>
  <div class="row">
        <div class="form-group col-sm-6">
        <label for="coverLetter" class="col-sm-4">Cover Letter</label>
        <div class="col-sm-8">
            <div><input type="file" name="coverLetter" id="coverLetter" ng-model="supportingData.coverLetter" value="UPLOAD"></div>
        </div> 
        </div>       
  </div>
  <div class="row">
        <div class="form-group col-sm-6">
        <label for="otherDocs" class="col-sm-4">Other Docs:</label>
        <div class="col-sm-8">
            <div><input type="file" name="otherDocs" ng-model="supportingData.otherDocs" value="UPLOAD"></div>
        </div>  
        </div>      
  </div>
</div>
<div class="internal">
    <div class="row pro-bar">
        <p class="pro-bar-title col-sm-6">INTERNAL</p>
        <p class="col-sm-6 text-right" style="font-style:italic;">Internal notes</p>
    </div>
<div class="row">
    <div class="form-group col-sm-6">
        <label for="source" class="col-sm-4">Source:</label>
         <selectize placeholder= 'Select a source...' config="sourceConfig" theme="selectize" id="source" class="col-sm-8" ng-model="source"></selectize>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
    <label for="status" class="col-sm-4">Status:</label>
     <selectize placeholder= 'Select a status...' config="statusConfig" ng-model="status" id="status" class="col-sm-8"></selectize>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label for="recruiter" class="col-sm-4">Recruiter:</label>
         <selectize placeholder= 'Select a recruiter...' config="recruiterConfig" ng-model="recruiter" id="recruiter" class="col-sm-8"></selectize>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-10">
        <div class="col-sm-2">
              <label for="notes">Notes:</label>
        </div>  
        <div class="col-sm-10">
              <textarea id="notes" name="notes" ng-model="basicData.notes" data-ck-editor></textarea>
        </div>
    <div>
</div>
<hr/>

</div>
</div>
</div>

<div class="add-profile text-center">
    <button type="submit" class="btn btn-success">SAVE</button>
    <button type="reset"  class="btn btn-danger" ng-click="resetForm()">CANCEL</button>
</div> 
</form>
</div>

</div>
  {{user}}

</section>


</div>
